.Button {
    padding: 12px 20px;
    background-color: var(--color-primary);
    border-radius: 4px;
    color: var(--color-secondary);
    transition: background-color 0.3s ease-out;
    border: none;
    outline: none;
  
  &_secondary {
    padding: 16px 20px;
  }
  
  &:Hover {
    background-color: var(--color-primary-dark);
  }
}