@import "../../theme.scss";

.Hero {
    height: 570px;
    position: relative;
    &-Figure {
        width: 100%;
        height: 100%;
      }
    &-Image {
        object-fit: cover;
        height: 100%;
        width: 100%;
  }
  
  &-Overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
  }
  
  &-Content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  &-ContentInner {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  &-TextCard {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 24px;
  }
  
  &-Title {
    color: $colorSecondary;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 450px;
    margin-bottom: 34px;
  }
  
  &-Subtitle {
    color: $colorSecondary;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.4px;
    max-width: 550px;
    margin-bottom: 32px;
  }
  
  @media screen and ($tabletLarge) {
    /*  &-text-card {
      padding: 0 32px;
    } */
  
    &-Title {
      font-size: 32px;
    }
  }
  
  @media screen and ($desktop) {
    &-TextCard {
      padding: 0;
    }
  
    &-Title {
      font-size: 36px;
      font-weight: 700;
    }
  
    &-ContentInner {
      max-width: 930px;
      margin: 0 auto;
    }
  }
  
  @media screen and ($desktopLarge) {
    &-ContentInner {
      max-width: 1280px;
    }
  }
}