@import "../../theme.scss";

.Header {
    background-color: $colorBgSecondary;
  
  
  &-Logo > path {
    fill: $colorPrimary;
  }
  
  &-Hamburger {
    display: block;
    height: 32px;
    width: 32px;
    
    @media screen and ($desktop) {
      display: none;
    }
  }
  
  &-Nav {
    display: none;

    @media screen and ($desktop) {
        display: block;
    }
  }
  
  &-Inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    @media screen and ($tabletLarge) {
      padding: 0 32px;
    }

    @media screen and ($desktop) {
      padding: 0;
      max-width: 930px;
      margin: 0 auto;
    }

    @media screen and ($desktopLarge) {
      max-width: 1280px;
    }
  }
  
  
    &-Link {
      margin-right: 32px;
      transition: color 0.3s ease-out;
    }
  
    &-Link:Hover {
      color: $colorPrimary;
    }
  }
  
.active{
  color: $colorPrimary;
}
